<nav>
    <div class="nav_bar">
        <div class="logo">
            <img src="assets/img/logo2.png" alt="logo">
        </div>
        <div class="menu">
            <ul>
                <li>
                   <a routerLink="/shopinglist" >Shoping list</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="log_out">
        <ul>
            <li>
               <a routerLink="/login" (click)="onClick()">
                log out
                <img src="assets/img/logout.svg" alt="log out" >
               </a>
              
            </li>
        </ul>
    </div>
</nav>